.App {
  text-align: center;
}
.search {
  
border-color: rgb(255, 102, 51);
}
.table {

  border-style: ridge;
margin-left: 1px;
border-color: rgb(255, 102, 51);
}
.title {
  font-family: Georgia, serif;
  font-style : italic;
  font-weight: bolder;
  font-size: 32px;
  color:rgb(255, 102, 51);
  
}
.book-name {
  color : black;
}
.book-name:hover {
  color: black;
  cursor:   pointer;
}
.cart {
  background-color: rgb(255, 102, 51);
  color: white
}

.buy {
  background-color: rgb(255, 133, 51);
}

.footer-area {
  background-color: #403a35;
}

li {
  list-style: none;
}
.social li {
  padding : 5px;
  display : inline;
  flex-direction: row;
  flex-wrap: wrap;
}